@import url('https://fonts.googleapis.com/css2?family=Lato:wght@500&display=swap');

body {
  font-family: 'Lato', sans-serif;
}

li {
  list-style-type: none;
  margin-top: 15px;
}

tr:nth-child(even) {
  background-color: #cf5d89;
}

@media only screen and (max-width: 768px) {
  .wrapper {
    background-color: #ea4a88;
    height: max-content;
    margin: 0;
  }

  .heading {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0 30px;
    padding-top: 20px;
    height: 50px;
  }
}
